

<ion-content>
  <div style="display:flex; align-items:center">
    <ion-button class="ion-no-padding" style="width:30px;" (click)="back()"  fill="clear" shape="round">
      <ion-icon name="chevron-back-outline"></ion-icon>
  
    </ion-button>
   
    <div>Share Story</div>
  </div>
  <div class="changeButton" >
    <label for="files" style="height: 90vw; width: 90vw;">
      <div style="border-radius: 5px;margin:5vw;height: 90vw;width:90vw;" *ngIf="!imagec">
        <img style="object-fit:cover;height: 90vw;width:90vw;" src="https://cdn.dribbble.com/users/510907/screenshots/2373320/file_upload.gif" alt="">
      </div> 
      <img style=" object-fit:cover;border-radius: 5px;margin:5vw;height: 90vw;width:90vw;" *ngIf="imagec" for="files" class='upphoto' src="{{imagec}}" alt="">
    </label>
    <input #uploadEl style="display: none" id="files" class="inputclass" accept="image/*" type="file"
      (change)="fileChange($event)">
  </div>
  <canvas style="display: none;" id="canvas"></canvas>
<div style="padding: 10px; text-align: center;">
  <ion-textarea [(ngModel)]='title' rows="5" placeholder="Enter your caption here..."></ion-textarea>
  
</div>
 
<ion-button style="margin: 10px" color="tertiary" (click)="upload()" expand="block"  shape="round">
  Post
</ion-button>
</ion-content>
