.chatFooter{
    margin:10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
}

ion-footer{
    background-color: rgb(223, 223, 223);
}
